@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');

@font-face {
    font-family: 'gilroy';
    src: url('../fonts/gilroy.eot');
    src: url('../fonts/gilroy.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gilroy.woff2') format('woff2'),
         url('../fonts/gilroy.woff') format('woff'),
         url('../fonts/gilroy.svg#webfontregular') format('svg');
    font-weight: bold; 
    font-style: normal;
}