* {
    box-sizing: border-box;
}

html, body {
    min-height: 100vh;
}

html {   
    font-size: 62.5%;
} 

body {
    overflow-x: hidden;
    display: flex;
}

.wrapper{
    display: flex;
    flex-flow: column nowrap;
    flex: 1 1 auto;
    min-height: 100vh; 
}

.contents {
    flex: 1 1 auto;
    padding: 4rem 8rem;
    margin-right: 50%;

    @media screen and (max-width: 1024px) {
        margin-right: 0;
        padding: 4rem;
    }
}

h1, h2, h3, h4, h5, h6 {
    color: $bodyColorDark;
    font-family: $titleFont;
}

h1 {
    font-size: 3.6rem; 
    margin-bottom: 5rem;
}

a {
    color: $highlight2;
    font-weight: bold;
}

footer {
    background-color: $highlight1;
    padding: 0 8rem;

    @media screen and (max-width: 1024px) {
        padding: 0 4rem;
    }
}