{% extends 'base.html.twig' %}

{% block title %}Ontvang jouw geschenk{{ parent() }}{% endblock %}

{% block contents %}
    <h1>Koninklijk Belgische Voetbalbond</h1>
    <p class="intro">
        Als lid van 1895 krijg je een mooi geschenk. Je hebt de keuze tussen een pet, een sjaal of een vlag. <br />
        Vul hier jouw lidnummer en geboortedatum in en maak je keuze.
    </p>
    <form action="/gift">
        <div class="form--field">
            <input type="text" class="form--input form--input__date" id="birthdate">
            <label class="form--label" for="birthdate">Jouw geboortedatum</label>
            <div class="form--icon form--icon__date"></div>
        </div>
        <div class="form--field">
            <input type="text" class="form--input" id="membernumber">
            <label class="form--label" for="membernumber">Jouw lidnummer</label>
        </div>
        <div class="form--field">
            <input type="submit" class="form--submit" value="Volgende">
        </div>
    </form>
{% endblock %}
