{% extends 'base.html.twig' %}

{% block title %}Bedankt{{ parent() }}{% endblock %}

{% block contents %}
    <h1>Koninklijk Belgische Voetbalbond</h1>
    <div class="checkmark-wrapper">
        <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
            <circle class="checkmark--circle" cx="26" cy="26" r="25" fill="none"/>
            <path class="checkmark--check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/>
        </svg>
    </div>

    <p class="intro intro__inline">
        We hebben jouw keuze goed ontvangen. Van zodra het artikel beschikbaar is, zullen wij jouw supportersclub hiervan berichten.
        Voor vragen gelieve te mailen naar <a href="mailto:1896@footbel.com">1896@footbel.com</a>
    </p>
{% endblock %}
